<a href="https://colab.research.google.com/github/HuelFra/phyton/blob/main/Group_by.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [29]:
dados = {
    "Nome" : ["João", "Gabriela", "Pedro", "Marta", "Gervazio", "Antonieta"],
    "Departamento":["RH", "TI", "Finanças", "TI", "RH", "Finanças"],
    "Salario":[5000,6000, 4000,6000, 3000,3500],
    "Estado": ["SP","PR","SP","PR","SP","PR"]
}
dados

{'Nome': ['João', 'Gabriela', 'Pedro', 'Marta', 'Gervazio', 'Antonieta'],
 'Departamento': ['RH', 'TI', 'Finanças', 'TI', 'RH', 'Finanças'],
 'Salario': [5000, 6000, 4000, 6000, 3000, 3500],
 'Estado': ['SP', 'PR', 'SP', 'PR', 'SP', 'PR']}

In [31]:
dados_df = pd.DataFrame(dados)

In [ ]:
#Como calcular média salarial por departamento
'''
A linha de comando é: df.groupby("coluna_de_grupo")["coluna_de_valor"].funcao_agregadora()

Para o Datarame que estamos usando como exemplo, temos: dados_df.groupby("Departamento")["Salario"].mean()

dados_df: É um DataFrame do pandas que contém seus dados, por exemplo, informações de funcionários com colunas
como "Nome", "Departamento" e "Salario".

.groupby("Departamento"): Esse comando agrupa o DataFrame pelo conteúdo da coluna "Departamento".
Ou seja, ele separa os dados em grupos, um para cada valor único da coluna "Departamento".

["Salario"]: Depois de agrupar, esta parte seleciona apenas a coluna "Salario" de cada grupo.

.mean()
Aplica a função de média a cada grupo, ou seja:
- Calcula a média dos salários do grupo "TI"
- Calcula a média dos salários do grupo "RH"
- Calcula a média dos salários do grupo "Vendas"
E assim por diante...'''

In [32]:
dados_df.groupby("Departamento")["Salario"].mean()

Departamento
Finanças    3750.0
RH          4000.0
TI          6000.0
Name: Salario, dtype: float64

In [33]:
# Calculando o valor médio maior
dados_df.groupby("Departamento")["Salario"].mean().max()

6000.0

In [34]:
#Calculando o valor da máedia menor
dados_df.groupby("Departamento")["Salario"].mean().min()

3750.0

In [35]:
#Contando quantas pessoas temos em cada departamento
dados_df.groupby("Departamento")["Salario"].count()

Departamento
Finanças    2
RH          2
TI          2
Name: Salario, dtype: int64

In [36]:
#Calculando a quantidade de salários únicos
dados_df.groupby("Departamento")["Salario"].nunique()

Departamento
Finanças    2
RH          2
TI          1
Name: Salario, dtype: int64

In [37]:
#Calculando a média salarial das pessoas por Estado
dados_df.groupby("Estado")["Salario"].mean()

Estado
PR    5166.666667
SP    4000.000000
Name: Salario, dtype: float64

In [38]:
# Diminuindo as casas decimais
dados_df.groupby("Estado")["Salario"].mean().round(2)

Estado
PR    5166.67
SP    4000.00
Name: Salario, dtype: float64

In [39]:
# Calculando a média, o valor mínimo, máximo, contagem e a quantidade de valores únicos dentro e uma lista
dados_df.groupby("Departamento").agg({"Salario": ["mean", "min", "max", "count", "nunique"]})

             Salario
                mean   min   max count nunique
Departamento
Finanças      3750.0  3500  4000     2       2
RH            4000.0  3000  5000     2       2
TI            6000.0  6000  6000     2       1

In [40]:
# Calculando Mediana
dados_df.groupby("Departamento")["Salario"].median()

Departamento
Finanças    3750.0
RH          4000.0
TI          6000.0
Name: Salario, dtype: float64

In [44]:
# Calculando dados de mais de um departamento
agrupo = dados_df.groupby(['Departamento', 'Estado'])['Salario'].mean()
print(agrupo)

Departamento  Estado
Finanças      PR        3500.0
              SP        4000.0
RH            SP        4000.0
TI            PR        6000.0
Name: Salario, dtype: float64