<a href="https://colab.research.google.com/github/HuelFra/phyton/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#Pandas
'''A biblioteca Pandas √© uma das bibliotecas mais populares e poderosas da linguagem Python,
usada principalmente para an√°lise e manipula√ß√£o de dados. O nome ‚ÄúPandas‚Äù vem de "Panel Data",
um termo usado em econometria.

üìå Para que serve o Pandas?
Pandas fornece estruturas de dados de alto desempenho e f√°ceis de usar, especialmente para
trabalhar com dados tabulares (como planilhas e bancos de dados) e temporais (como s√©ries de tempo).

Principais estruturas de dados do Pandas
- Series:
Uma coluna √∫nica (unidimensional) com r√≥tulos (√≠ndices).
Exemplo:
import pandas as pd
s = pd.Series([10, 20, 30], index=['a', 'b', 'c'])

- DataFrame:
Uma tabela de dados em formato de matriz (bidimensional), parecida com uma planilha do Excel ou uma tabela SQL.
Exemplo:
import pandas as pd
data = {'Nome': ['Ana', 'Jo√£o'], 'Idade': [25, 30]}
df = pd.DataFrame(data)

üõ†Ô∏è Funcionalidades principais
- Leitura e grava√ß√£o de arquivos: .csv, .excel, .json, .sql, entre outros.
- Filtragem, ordena√ß√£o e agrupamento de dados.
- Limpeza e transforma√ß√£o de dados (remo√ß√£o de valores nulos, substitui√ß√µes, convers√µes).
- An√°lise estat√≠stica b√°sica.
- Cria√ß√£o de novas colunas com base em condi√ß√µes ou c√°lculos.
- Integra√ß√£o com outras bibliotecas como NumPy, Matplotlib, Seaborn e Scikit-learn.

‚úÖ Por que usar Pandas?
Facilita o tratamento de dados complexos.
Muito utilizado em ci√™ncia de dados, machine learning, estat√≠stica, finan√ßas e engenharia de dados.
Interface intuitiva para quem est√° acostumado com Excel ou SQL.'''

#Como instalar o Pandas
!pip install pandas

#Importando a Biblioteca
import pandas as pd

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [9]:
#Criando Series
'''
üß© O que √© uma Series?
Uma Series √© uma estrutura de dados unidimensional (como uma coluna de uma planilha).
√â similar a um array do NumPy, mas com r√≥tulos (index) para cada elemento.

import pandas as pd
# Criando uma Series
dados = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print(dados)
Sa√≠da:
a    10
b    20
c    30
d    40
dtype: int64

üìä O que √© um DataFrame?
Um DataFrame √© uma tabela bidimensional, como uma planilha do Excel ou uma tabela SQL.
Ele √© composto por v√°rias Series, uma para cada coluna.
import pandas as pd

# Criando um DataFrame
dados = {
    'Nome': ['Ana', 'Bruno', 'Carlos'],
    'Idade': [23, 35, 30],
    'Cidade': ['SP', 'RJ', 'BH']
}

df = pd.DataFrame(dados)
print(df)
Sa√≠da:
    Nome  Idade Cidade
0    Ana     23     SP
1  Bruno     35     RJ
2 Carlos     30     BH '''

#Conhecendo a vers√£o do Numpy e do pandas instalado
! pip install NumPy
import numpy as np
print('A vers√£o Numpy instalada √©: ' , np.__version__)
print('A vers√£o Panda instalada √©: ' , pd.__version__)

Requirement already satisfied: NumPy in /usr/local/lib/python3.11/dist-packages (2.0.2)
A vers√£o Numpy instalada √©:  2.0.2
A vers√£o Panda instalada √©:  2.2.2

In [10]:
# Criando lista
lista = [10,20,30,40,50]
print(lista)

[10, 20, 30, 40, 50]

In [17]:
#Criando uma lista no Pandas, que seria uma Series
series = pd.Series([10,20,30,40,50])
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [18]:
#Uma outra maneira que podemos chamar Series √©:
pd.Series(data = lista)

'''
pd: √© a abrevia√ß√£o comum usada para importar a biblioteca pandas (ex: import pandas as pd).
Series: √© uma classe do pandas usada para criar uma s√©rie de dados.
data=lista: √© o argumento que define os dados que ser√£o armazenados na s√©rie. Aqui, lista √© uma lista Python ([10, 20, 30, 40, 50]).

Os valores 10, 20, 30, 40 e 50 v√™m da lista.
Os √≠ndices (0, 1, 2) s√£o atribu√≠dos automaticamente.
O dtype indica o tipo de dado (neste caso, int64).
'''

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [11]:
#Criando tupla
tupla = (10,20,30,40,50)
print(tupla)

(10, 20, 30, 40, 50)

In [19]:
#Criando a tupla usando pandas
pd.Series(data = tupla)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [12]:
#Criando um array
array = np.array([10,20,30,40,50])
print(array)

[10 20 30 40 50]

In [22]:
#Criando um array usando panda
pd.Series(data = array)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [21]:
#ou
array_pandas = pd.Series ([10,20,30,40,50])
print(array_pandas)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [25]:
#Criando um dicion√°rio
dicionario = {'A':10, 'B':20, 'C':30, 'D':40, 'E':50}
print(dicionario)

{'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50}

In [31]:
#Criando um dicion√°rio pandas
pd.Series(data = dicionario)

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [32]:
#ou
dicionario_pandas = pd.Series ({'A':10, 'B':20, 'C':30, 'D':40, 'E':50})
print(dicionario_pandas)

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [34]:
#Indexando Series
'''Esse comando cria uma pandas Series com valores personalizados para os √≠ndices.'''

minha_Serie = pd.Series([10,20,30,40,50], index = ['A','B','C','D','E'])

'''
pd.Series(...): cria uma s√©rie do pandas.
[10, 20, 30, 40, 50]: √© a lista de dados.
index=['A', 'B', 'C', 'D', 'E']: define r√≥tulos personalizados para os √≠ndices da s√©rie.

O resultado:
A S√©rie tem 5 elementos.
Cada valor √© associado a um √≠ndice personalizado (letras A a E).
O dtype indica que os dados s√£o do tipo inteiro (int64).

Vantagens da indexa√ß√£o personalizada:
Voc√™ pode acessar os valores usando os r√≥tulos: minha_Serie['C']  # retorna 30
Pode fazer opera√ß√µes com base nos r√≥tulos (por exemplo, fatiamento, filtragem, etc.).
Essa √© uma das principais for√ßas do pandas: voc√™ pode tratar dados de forma parecida
com tabelas, mas com flexibilidade para indexa√ß√£o e manipula√ß√£o.
'''
print(minha_Serie)

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [41]:
#Outros exemplos de indexa√ß√£o
nova_Serie = pd.Series([10,20,30,40,50], index = ['Primeiro','Segundo','Terceiro','Quarto','Quinto'])
print(nova_Serie)

Primeiro    10
Segundo     20
Terceiro    30
Quarto      40
Quinto      50
dtype: int64

In [38]:
#Mostrando o Primeiro Valor
nova_Serie['Primeiro']

np.int64(10)

In [43]:
#Mostrando o Segundo e Quarto Valores
nova_Serie[['Segundo','Quarto']]

Segundo    20
Quarto     40
dtype: int64

In [58]:
#Criando uma Series pandas com texto
# Voc√™ precisa chamar a classe Series como uma fun√ß√£o, usando par√™nteses ()
# Passe a lista de strings como o argumento 'data'.
texto = pd.Series(data = ['Ana', 'Bruno', 'Carlos'])

'''O pandas internamente utiliza tipos como:
int64 para inteiros
float64 para n√∫meros decimais
datetime64 para datas
bool para booleanos
object para qualquer outro tipo, especialmente strings ou misturas de tipos.'''

print(texto)

0       Ana
1     Bruno
2    Carlos
dtype: object

In [57]:
#Outra forma
pd.Series(['Ana', 'Bruno', 'Carlos'])

'''O resultado de dtype √© object, por qual motivo?
No pandas, o tipo object √© usado para dados n√£o num√©ricos, especialmente strings (textos).

A partir de vers√µes mais recentes do pandas, tamb√©m existe o tipo string
(mais moderno e eficiente que object para textos), mas ele precisa ser especificado:
pd.Series(['Ana', 'Bruno', 'Carlos'], dtype='string')'''
pd.Series(['Ana', 'Bruno', 'Carlos'], dtype='string')

0       Ana
1     Bruno
2    Carlos
dtype: string

In [53]:
#Criando um Series pandas float
pd.Series([2.78, 3.95])

0    2.78
1    3.95
dtype: float64

In [56]:
#Criando uma Series pandas com tipos diferentes
'''Converte tudo para string, caso tenha algum tipo diferente'''
pd.Series(['Maria',4.64, True])

pd.Series(['Maria',4.64, True])

0    Maria
1     4.64
2     True
dtype: object

In [ ]:
# Conhecendo mais algumas fun√ß√µes do pandas Python
'''
A fun√ß√£o sum() no contexto do pandas (ou at√© mesmo em Python puro) √© usada para somar valores.
Exemplo: sum([1, 2, 3, 4])

Em uma pandas.Series:
import pandas as pd

s = pd.Series([10, 20, 30])
s.sum()

sum() ignora automaticamente valores NaN (nulos).

Se a Series for de strings, ele concatena:
s = pd.Series(['Ana', 'Bruno', 'Carlos'])
s.sum()

Resumo:
Num√©rico	Soma dos valores
String (object)	Concatena√ß√£o das strings
Com NaN	Ignora NaN por padr√£o

Se quiser que NaN afete o resultado (retorne NaN), use:
s.sum(skipna=False)

In [60]:
s = pd.Series([10, 20, 30])
s.sum()

np.int64(60)

In [61]:
s = pd.Series(['Ana', 'Bruno', 'Carlos'])
s.sum()

'AnaBrunoCarlos'